*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
}

body {
  font-family: monospace;
}

.App {
  max-width: 500px;
  background-color: whitesmoke;
  margin-inline: auto;
  border: 1px solid royalblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 0.5rem;
  flex-grow: 1;
}

header, footer {
  background-color: royalblue;
  color: #fff;
  padding: 0.5rem;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.add-item,
.search-item {
  display: flex;
  margin: 0.5rem 0;
}

.add-item input, 
.search-item input {
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.add-item svg {
  height: 50px;
  width: 50px;
}

.item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.item label {
  flex-grow: 1;
  margin-left: 0.5rem;
}

.item input[type="checkbox"],
.item svg
{
  height: 50px;
  width: 50px;
}

.item svg:hover {
  color: red;
}